<div class="center_service-section centersection-bg">
    <div class="container">
        <div class="service_grid">
            <div class="grid-item a-grid">
                <div class="rectangle"> <span>UI/UX Design</span> <div class="square"></div></div>
            </div>
            <div class="grid-item b-grid">
                <div class="rectangle"> <span>IT Consultancy</span> <div class="square"></div></div>
            </div>
            <div class="grid-item c-grid">
                <div class="rectangle"> <span>Technology Prof.</span> <div class="square"></div></div>
            </div>
            <div class="grid-item dd-grid">
                <div class="rectangle"> <span>Web Development</span> <div class="square"></div></div>
            </div>
            <div class="grid-item e-grid">
                <div class="rectangle"><span>App Development</span> <div class="square"></div></div>
            </div>
            <div class="grid-item f-grid">
                <div class="rectangle"> <span>Game Design</span> <div class="square"></div></div>
            </div>
        </div>
    </div>
</div>