<div class="header-container">
    <div class="header-logo">
        <h1>OmniVus.</h1>
        <p>IT Service & Technology</p>
    </div>
    <div class="header-social">
        <p>info@domain.com</p>
        <div class="social-links">
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
            <a href="#">youtube</a>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu-links">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Services" asp-action="Index">Services</a>
            <a asp-controller="Contact" asp-action="Index">Contact</a>
        </div>
        <a class="btn btn-book" asp-controller="NotFound" asp-action="Index">Book a meeting</a>
    </div>
</div>