<div id="lower-section" class="lowersection-bg">
    <div class="container">
        <div class="lower-body">
            <div class="left-lower-content">
                <div class="aboutus-line">
                    <p>Intro</p>
                    <img src="./pictures/line.svg" alt="">
                </div>
                <h2>How we growth <br>our business.</h2>
                <p class="font24">The introduction of cloud and mobile technologies
                    <br>into enterprise software.</p>
                <p>Either you are building an enterprise web portal or a state-of-the-art
                    <br>website, you always need the right modern tools. Well-built and
                    <br>maintained .NET frameworks provide those tools in abundance, allowing
                    <br>maintained .NET frameworks provide those tools in abundance, allowing
                    <br>developers to save time, re-use code, and streamline the back end. As
                    <br>software development tools continuously.</p>

                <button class="btn btn-blue">Learn More</button>
            </div>
            <div class="right-lower-content">
                <img src="./pictures/bluesquare.svg" alt="">
            </div>
        </div>
    </div>
</div>