<div id="lower_info-section" class="lowerinfo_section-bg">
    <div class="container">
        <div class="lower_info-body">
            <div class="left-lowerinfo-content">
                <h4>OmniVus</h4>
                <p>The web has changed a lot since we posted our 
                    <br>first article back in 2007. The team at Mattin-
                    <br>Lassi Group has changed too, as have the 
                    <br>things that we bring to our community 
                    <br>conferences, books, and our membership 
                    <br>added to the online magazine. 
                    </p>
                <p>One thing that hasn’t changed is that we’re a 
                    <br>small team — with most of us not working</p>
            </div>
            <div class="right-lowerinfo-content">
                <h4>Working Hours</h4>
                <p id="workinghours">Monday - Friday: 7:00 - 17:00 
                    <br>Saturday: 7:00 - 12:00 
                    <br>Sunday and holidays: 8:00 - 10:00</p>
                <p>For more then 15 years, IT Service has been a 
                    <br>reliable partner in the field of logistics and 
                    <br>cargo forwarding.</p>
            </div>
        </div>
        <div id="small-circles-section">
            <img id="small-circles" src="./pictures/small-circles.svg" alt="">
        </div>
    </div>
    <div class="container">
        <footer>
            <p>Copyright © Mattin-Lassei Group AB - 2022</p>
        </footer>
    </div>
</div>