<div class="top-body">
    <div class="left-top-container">
        <div class="left-top-content">
            <p>Promote any product, service or online course.</p>
            <h1>Get every IT<br> Services Here</h1>
            <div class="ITProductService">
                <div class="it_item">
                    <img src="./pictures/it-products.svg" alt="">
                    <p>IT Product</p>
                </div>
                <div class="it_item">
                    <img src="./pictures/it-services.svg" alt="">
                    <p>IT Services</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-top-container">
        <div class="right-top-content">
            <img src="./pictures/bodygroup.svg" alt="">
        </div>
    </div>
</div>