<div class="top_service-body">
    <div class="top_service-container">
        <h1>@ViewData["Title"]</h1>
        <a class="me-1" asp-controller="Home" asp-action="Index">Home</a> | <a class="ms-1" asp-controller="@ViewData["Title"]" asp-action="Index">@ViewData["Title"]</a>
    </div>
</div>