<div class="center_contact-section centersection-bg">
    <div class="container">
        <div class="contact_grid">
            <div class="left-contact-content">
                <div class="aboutus-line">
                    <p>About Us</p>
                    <img src="./pictures/line.svg" alt="">
                </div>
                <h2>Estimate for your<br> projects.</h2>
                <form action="">
                    <div class="name-email-message">
                        <input type="text" name="" id="name" placeholder="Enter your name">
                        <span class="display-error text-danger" id="name-error"></span>
                        <input type="text" name="" id="email" placeholder="Enter your email">
                        <span class="display-error text-danger" id="email-error"></span>
                        <input class="message_input" type="text" name="" id="message" placeholder="Enter your message">
                        <span class="display-error text-danger" id="message-error"></span>
                    </div>
                    <button class="btn btn-blue">Submit Now</button>
                </form>
            </div>
            <div class="right-contact-content">
                <img src="./pictures/square-less-triangle.svg" alt="">
            </div>
        </div>
    </div>
</div>