<div id="center-section" class="centersection-bg">
    <div class="container">
        <div class="center-body">
            <div class="left-center-container">
                <div class="left-center-content">
                    <img src="./pictures/square-triangle.svg" alt="">
                </div>
            </div>
            <div class="right-center-container">
                <div class="right-center-content">
                    <div class="aboutus-line">
                        <p>About Us</p>
                        <img src="./pictures/line.svg" alt="">
                    </div>
                    <h2>You can't use up<br>creativity.</h2>
                    <p>Does any industry face a more complex audience journey and marketing sales
                        <br>process than B2B technology? Consider the number of people who influence
                        <br>a sale, the length of the decision-making cycle, the competing interests of the
                        <br>people who purchase, implement, manage, and use the technology. I'ts a lot
                        <br>meaningful content here.
                    </p>
                    <div class="years-exp">
                        <img src="./pictures/littletriangle15.svg" alt="">
                        <h4>Years Of<br>Experience</h4>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-blue">Learn More</button>
                        <button class="btn btn-greyblue">Intro Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>