<div id="book-section" class="booksection-bg">
    <div class="container">
        <div class="book-body">
            <h2>Book a Meeting</h2>
            <p>Does any industry face a more complex audience journey and 
                <br>marketing sales process than B2B technology.</p>
            <form action="">
                <div class="name-email">
                    <input type="text" name="" id="name" placeholder="Enter your name">
                    <input class="book_email" type="text" name="" id="email" placeholder="Enter your email">
                </div>
                <p class="display-error" id="name-error"></p>
                <p class="display-error" id="email-error"></p>
                <input class="textareaa mb-3" type="text" id="message" placeholder="Enter your questions & subject.">
                <p class="display-error" id="message-error"></p>
                <button class="btn btn-blue">Book a Meeting Now</button>
            </form>
        </div>
    </div>
</div>