<div id="not_found-section" class="notfoundsection-bg">
    <div class="container">
        <div class="notfound-container">
            <img src="./pictures/illustration.svg" alt="">
            <h1>Looks Like Here
                <br>Is Nothing</h1>
            <p>Don't be fret. We Are here.</p>
        </div>
    </div>
</div>