@model mvc_app_login.Models.Forms.RegisterForm

@{
    ViewData["Title"] = "Register";
}

<div id="" class="signup-section">
    <div class="container">
        <div class="sign-up">
            <h2>Register</h2>
            <p class="register-text">Register your membership below.<br>Already a member? Sign in <a asp-controller="Authentication" asp-action="Login">here.</a></p>
            <form asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
                <div class="input-pair">
                    <div class="input-error">
                        <label asp-for="FirstName">First name</label>
                        <input asp-for="FirstName" type="text" placeholder="Enter your firstname">
                        <span asp-validation-for="FirstName" class="display-error" id="name-email-error"></span>
                    </div>
                    <div>
                        <label asp-for="LastName">Last name</label>
                        <input asp-for="LastName" class="" type="text" placeholder="Enter your lastname">
                        <span asp-validation-for="LastName" class="display-error" id="name-email-error"></span>
                    </div>
                </div>

                <div class="input-pair">
                    <div class="input-error">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" placeholder="Enter your password - Ex:Bytmig1!">
                        <span asp-validation-for="Password" class="display-error" id="name-email-error"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">Confirm password</label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm your password">
                        <span asp-validation-for="ConfirmPassword" class="display-error" id="name-email-error"></span>
                    </div>
                </div>
                    
                <div class="input-pair">
                    <div class="input-error">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="text" placeholder="Enter your email">
                        <span asp-validation-for="Email" class="display-error" id="name-email-error"></span>
                    </div>
                    <div>
                        <label asp-for="StreetName">Streetname</label>
                        <input asp-for="StreetName" type="text" placeholder="Enter your streetname">
                        <span asp-validation-for="StreetName" class="display-error" id="name-email-error"></span>
                    </div>
                </div>
                    
                <div class="input-pair">
                    <div class="input-error">
                        <label asp-for="PostalCode">Postal code</label>
                        <input asp-for="PostalCode" type="text" placeholder="Enter your postal code">
                        <span asp-validation-for="PostalCode" class="display-error" id="name-email-error"></span>
                    </div>
                    <div>
                        <label asp-for="City">City</label>
                        <input asp-for="City" type="text" placeholder="Enter your city">
                        <span asp-validation-for="City" class="display-error" id="name-email-error"></span>
                    </div>
                </div>
                
                <div class="display-error ps-2 pe-2">
                    @Model.ErrorMessage
                </div>
                <button type="submit" class="btn btn-blue btn-block">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}