@{
    ViewData["Title"] = "Contact";
}
<div id="top-section" class="topsection-bg">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_TitlePartial" />
    </div>
</div>

<partial name="_ContactCenterPartial" />