@{
    ViewData["Title"] = "Home";
}
<div id="top-section" class="topsection-bg">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_HomeTopPartial" />
    </div>
</div>

<partial name="_HomeCenterPartial" />

<partial name="_HomeLowerPartial" />

<partial name="_HomeBookPartial" />