@{
    ViewData["Title"] = "Home";
}
<div id="top-section" class="topsection-bg">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_TopBodyPartial" />
    </div>
</div>

<partial name="_CenterSectionPartial" />

<partial name="_LowerSectionPartial" />

<partial name="_BookSectionPartial" />