@{
    ViewData["Title"] = "Services";
}
<div id="top-section" class="topsection-bg">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_TopTitlePartial" />
    </div>
</div>

<partial name="_CenterServicePartial" />