@{
    ViewData["Title"] = "Not found";
}

<div id="top-section" class="topsection-bg">
    <div class="container">
        <partial name="_HeaderPartial" />
    </div>
</div>

<partial name="_NotFoundPartial" />